# site settings
title: Unshared
subtitle: Labs
email: almost.jason@gmail.com
description: Advanced account-sharing detection for subscription platforms. Secure your platform, enforce fair usage, and reclaim lost revenue with a simple, lightweight solution.
baseurl: "/" # the subpath of your site, e.g. /blog
url: # the base hostname & protocol for your site
author:
street_address: 1234 Endless Summer
city: Los Angeles
state: CA
zip_code: 90293
country: United States of America
phone: (123) 456-7890

# homepage tiles
tiles-source: pages # accepts "posts" or "pages"
tiles-count: 6

# social settings (key must match name of font awesome icon)
# see https://fontawesome.com/icons?d=gallery&p=2&s=brands
# Icons are not shown if value is empty
# You need to restart jekyll for changes to have an effect
socials:
  GitHub: 
  GitLab:
  Google-Plus: 
  Instagram:
  LinkedIn: 
  Twitter: 
  Facebook:
  Slack:

# build settings
markdown: kramdown

sass:
  style: compressed

exclude:
- "*.gemspec"
- LICENSE.md
- CONTRIBUTING.md
- README.md 
